# Env variables
ENV=production
API_URL=https://example.com

# EXPO
EXPO_SLUG=react-native-boilerplate
EXPO_NAME="Wake Me App Alarm Clock"
EXPO_PROJECT_ID=18adc0d0-eb1d-11e9-8009-d524ed5cc4a7
EXPO_IOS_BUNDLE_IDENTIFIER=com.mtoplak.wakemeapp
EXPO_ANDROID_PACKAGE=com.mtoplak.wakemeapp